// $ecommerce-color-primary: #1d4ed8;
$ecommerce-color-primary: #3498db;

@mixin horizontal-padding {
  padding-left: 1.8rem;
  padding-right: 1.8rem;
}

.root {
  height: 100%;
  width: 100%;
  font-size: 16px;
  background-color: rgba(239, 246, 255, 0.52);
  box-shadow: 8px 8px 49px -6px rgba(0,0,0,1) 8px 8px 31px -6px rgba(0,0,0,1) 8px 8px 15px 7px rgba(0,0,0,0.7);
}

.header {
  display: grid;
  grid-template-columns: 25% 75%;
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-top: 1rem;
  @include horizontal-padding;
}

.logo {
  display: flex;
  align-items: center;

  & > div {
    position: relative;
    bottom: 25%;
  }
}

.menu {
  // background-color: #851512;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menuItem {
  width: 20%;
  height: 10px;
  border-radius: 30px;
  background-color: $ecommerce-color-primary;
}

.cartContainer {
  span {
    position: relative;
    top: 2px;
    color: $ecommerce-color-primary;
  }
}

.gridContainer {
  @include horizontal-padding;
  display: grid;
  grid-template-columns: 18% 40% 47%;
  width: 100%;
  height: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  overflow: hidden;
  box-sizing: border-box;
}

.itemHeader {
  font-size: 1.5rem;
  font-weight: 400;
}

.descriptionLine1 {
  width: 90%;
  height: 8px;
  background-color: #d6d3d1;
  opacity: 0.6;
  border-radius: 8px;
  margin-bottom: 7px;
}

.descriptionLine2 {
  width: 68%;
  height: 8px;
  background-color: #d6d3d1;
  opacity: 0.6;
  border-radius: 8px;
  margin-bottom: 7px;
}

.descriptionLine3 {
  width: 80%;
  height: 8px;
  background-color: #d6d3d1;
  opacity: 0.6;
  border-radius: 8px;
}

.itemColor {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #333;
}

.itemColor:not(:last-child) {
  margin-right: 4px;
}

.itemBlue {
  background-color: #5591be;
}

.itemYellow {
  background-color: #f9dfac;
}

.itemPink {
  background-color: #fbe3eb;
}
